.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background: rgb(239,52,255);
    background: linear-gradient(90deg, rgba(239,52,255,1) 0%, rgba(111,111,255,1) 51%, rgb(92, 202, 224) 100%);
    font-family: var(--Principal-font);
    padding: 0.6em 0.8em;
    margin: 0.5em;
    width: 97.8vw;
    max-width: 97.8vw;
    color: var(--secondary-font-color);
}

.footer__content {
    display: flex;
    flex-direction: column;
}

.footer__title {
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.4em;
}

.footer__paragraph {
    font-size: 1rem;
    font-weight: 400;
}

.footer__sign-in {
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    font-size: 1rem;
    font-weight: 600;
    padding: 1em 1em;
    background-color: var(--secondary-font-color);
    color: var(--background-all);
    border: none;
    border-radius: 30px;
    margin: 0.1em 0.9em 0 0;
}