.main__content {
    margin: 0.5em 0.5em 0 27.3em;
    width: 76.7vw;
    max-width: 80vw;
    height: 90vh;
    background: var(--background-sidebar-color);
    border-radius: 8px;
}

.search__sign-in__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 1em;
    background-color: rgba(0,0,0,.5);
}

.sign-in__arrow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left__arrow, .right__arrow {
    padding: 0.2em;
    text-decoration: none;
}

.left__arrow img {
    padding: 0.3em;
    background: var(--background-all);
    border-radius: 1000px;
}

.arrows {
    margin-right: 0.6em;
}

.right__arrow img {
    padding: 0.3em;
    background: var(--background-all);
    border-radius: 1000px;
}

.Input__search {
    background-color: var(--card-sidebar-color);
    border: none;
    border-radius: 1000px;
    padding: 1em 2em;
    background-image: url("../assets/icons/search.png");
    background-repeat: no-repeat;
    background-position: 1em;
    width: 300px;
}

.Input__search::placeholder {
    font-family: var(--Principal-font);
    padding: 0 0 0 2em;
}

.subscribe, .login {
    font-family: var(--Principal-font);
    font-size: 1rem;
    padding: 0 1em;
    margin: 0 1em;
}

.subscribe {
    background: transparent;
    padding: 1em;
    color: var(--terciary-color);
    border: none;
    font-weight: 600;
}

.login {
    padding: 1em 2.2em;
    border-radius: 40px;
    border: none;
    font-weight: 700;
}

.playlist-title {
    padding: 1.5em 1em;
    font-family: var(--Principal-font);
    color: var(--secondary-font-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.playlist__content {
    padding: 0 2em;
}

.playlist__scroll-container {
    align-items: center;
    overflow-y: auto;
    margin:0 1.5em 0 1.5em;
    height: 64vh;
}

.playlist__scroll-container::-webkit-scrollbar {
    width: 3px;
    border-radius: 30px;
    background-color: var(--card-sidebar-color);
}

.playlist__scroll-container::-webkit-scrollbar-thumb {
    background: transparent;
}

.playlist-image, .playlist-item {
    width: 209.5px;
    height: 209.5px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    align-items: center;
}

.playlist-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-column-gap: 0.1px;
    overflow: hidden;
}

.playlist-item {
    align-items: center;
    text-align: center;
}

