@import url("../styles/sidebar.css");
@import url("../styles/footer.css");
@import url("../styles/main-content.css");

:root {
    /*Paleta de Cores*/
    --background-sidebar-color: #121212;
    --background-all: #000;
    --sidebar-font-color: #b3b3b3;
    --card-sidebar-color: #242424;
    --secondary-font-color: #fff;
    --terciary-color: #a7a7a7;

    --Principal-font: "DM Sans", sans-serif;
}

body {
    background-color: var(--background-all);
}

@media screen and (max-width: 1024px) {
    .playlist-list {
        grid-template-columns: repeat(3, 1fr);
    }
}